<a href="https://colab.research.google.com/github/joedapotato/DS1002/blob/main/07_More_Pandas_DS1002_Joe_Liang.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More pandas exercises

By Joe Liang

DS 1002

1.  Load the following dataset into Colab and perform the requested operations in code.

 Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [11]:
# Load pandas and the data
import pandas as pd
import numpy as np
ride_share = pd.read_csv('https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv')

In [12]:
# show how many rows and columns are in this dataset
ride_share.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25760 entries, 0 to 25759
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   duration         25760 non-null  object
 1   station_A_id     25760 non-null  int64
 2   station_A_name   25760 non-null  object
 3   station_B_id     25760 non-null  int64
 4   station_B_name   25760 non-null  object
 5   bike_id          25760 non-null  int64
 6   user_type        25760 non-null  int64
 7   user_birth_year  25760 non-null  int64
 8   user_gender      25760 non-null  object
 9   tire_size        25760 non-null  int64
dtypes: int64(6), object(4)
memory usage: 2.0+ MB

In [13]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)
ride_share['duration'] = ride_share['duration'].str.strip('minutes')
ride_share['duration'] = ride_share['duration'].astype(int)
ride_share.head(5)

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_size
0,12,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male,26
1,24,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male,27
2,8,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male,29
3,4,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male,26
4,11,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male,27

In [14]:
# Now display the datatypes in the updated dataframe
ride_share['duration'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 25760 entries, 0 to 25759
Series name: duration
Non-Null Count  Dtype
--------------  -----
25760 non-null  int64
dtypes: int64(1)
memory usage: 201.4 KB

In [15]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.
print(ride_share['duration'].min(), 'minutes is the shortest ride time.')
print(ride_share['duration'].max(), 'minutes is the longest ride time.')

1 minutes is the shortest ride time.
1372 minutes is the longest ride time.

In [16]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.

ride_60 = ride_share.query('duration <= 60')
ride_60[ride_60['duration'] > 60]

Empty DataFrame
Columns: [duration, station_A_id, station_A_name, station_B_id, station_B_name, bike_id, user_type, user_birth_year, user_gender, tire_size]
Index: []

In [17]:
# Now show both the min and max values of the duration column for your new dataset.
print(ride_60.min(),'\n'+'-------------------------------------------------------')
print(ride_60.max())

duration                              1
station_A_id                          3
station_A_name       Berry St at 4th St
station_B_id                          3
station_B_name     11th St at Bryant St
bike_id                              11
user_type                             1
user_birth_year                    1901
user_gender                      Female
tire_size                            26
dtype: object
-------------------------------------------------------
duration                                                          60
station_A_id                                                      81
station_A_name                               Steuart St at Market St
station_B_id                                                     383
station_B_name     Yerba Buena Center for the Arts (Howard St at ...
bike_id                                                         6638
user_type                                                          3
user_birth_year                                                 2001
user_gender                                                    Other
tire_size                                                         29
dtype: object

In [18]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.
ride_60 = ride_60[ride_60.tire_size == 26]
ride_60['tire_size'].min()

26

In [19]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.
ride_60[ride_60.user_gender == 'Female'].count()

duration           2962
station_A_id       2962
station_A_name     2962
station_B_id       2962
station_B_name     2962
bike_id            2962
user_type          2962
user_birth_year    2962
user_gender        2962
tire_size          2962
dtype: int64

2. Find the file `more-messy-data.csv` on GitHub and upload it into Google Colab.

Create a new Pandas DataFrame from that data and perform the following steps.

In [20]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.
df = pd.read_csv('more-messy-data.csv')
df.duplicated().sum()

287

In [21]:
# Next, remove all duplicate rows using Python.
df = df.drop_duplicates()
df.duplicated().sum()

0

In [22]:
# For the FOUR columns involving sepal and petal length and width, update all NaN
# values with the column mean.

# There are strings in the petal_width column.
df['petal_width'] = df['petal_width'].replace('gg\D*',np.nan,regex=True)
df['petal_width'] = df['petal_width'].astype(float)

df['sepal_length'].fillna(df['sepal_length'].mean())
df['sepal_width'].fillna(df['sepal_width'].mean())
df['petal_length'].fillna(df['petal_length'].mean())
df['petal_width'].fillna(df['petal_width'].mean())

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1029 entries, 0 to 1315
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1029 non-null   int64
 1   sepal_length  968 non-null    float64
 2   sepal_width   863 non-null    float64
 3   petal_length  931 non-null    float64
 4   petal_width   946 non-null    float64
 5   species       963 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 56.3+ KB

In [23]:
# Find any values in the dataframe that are still missing, and delete them.
df = df.dropna()

In [24]:
# How many different species are there?
df['species'].describe()
# There are 8 species currently.

count        627
unique         8
top       setosa
freq         308
Name: species, dtype: object

In [25]:
# Clean up the 'species' variable so that there are exactly three different values.
species = ['setosa','virginica','versicolor']
df['species'] = df['species'].str.lower()
df_w_index = df.set_index('species','id')

<ipython-input-25-bd958be7002d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['species'] = df['species'].str.lower()
<ipython-input-25-bd958be7002d>:4: FutureWarning: In a future version of pandas all arguments of DataFrame.set_index except for the argument 'keys' will be keyword-only.
  df_w_index = df.set_index('species','id')

In [26]:
pd.set_option('display.max_columns', None)
df_final = df_w_index.loc[species].reset_index()
df_final['species'].describe()

count        622
unique         3
top       setosa
freq         309
Name: species, dtype: object

3. Bonus:  Regular expressions

Ordinary (non-vanity) Virginia license plates have the form `ABC1234`, meaning they have three upper case letters followed by four digits.  Write a regular expression that matches any string of this form (and doesn't match anything else).  Test your expression with code to make sure it works.

To figure out out how to do this, start with the sample code below.  The `re` package has various functions related to regular expressions, including for example `match()`, which takes two arguments, first the regular expression and second the test string, and tests to see whether the *beginning* of the `test` string matches the pattern `exp`.

Note that `re.match(exp,test)` does not return a boolean variable, as you might expect (in other words, a match doesn't return `True` and a non-match `False`).  The type of object you get is called `re.Match`, which is a data type special to the `re` package.  (The reason for this is that the object contains more information than just whether there is a match or not.) However, you can turn it into a boolean using `bool()` if you want.

Include the following in the notebook you submit:

 1. A regular expression in a text chunk
 2. One or more code chunks in which you test several strings to verify that your regex is correct.
 3. Make sure you display the results of testing various strings.

 See this [documentation page](https://docs.python.org/3/howto/regex.html#regex-howto) for further help.

My Attempt

In [56]:
# Sample code for testing whether a string matches a regex

# First import this package for working with regular expressions
import re

exp = '[A-Z][A-Z][A-Z]\d\d\d\d' #here
test = 'AZA0911'
def test(expire):
  print('Testing:',expire)
  if re.match(exp,expire):
    print("match!")
  else:
    print("no match")
  print(type(re.match(exp,expire)))
  print(bool(re.match(exp,expire)))
  print('-------------------')

test('AAA1111')
test('UVA2027')
test('JIMRYAN')
test('jim2011')
test('silly')

Testing: AAA1111
match!
<class 're.Match'>
True
-------------------
Testing: UVA2027
match!
<class 're.Match'>
True
-------------------
Testing: JIMRYAN
no match
<class 'NoneType'>
False
-------------------
Testing: jim2011
no match
<class 'NoneType'>
False
-------------------
Testing: silly
no match
<class 'NoneType'>
False
-------------------